tcmu-runner
tcmu-synthesizer
consumer
*.o
*.a
*.swp
*.patch
handler_*.so
libtcmu.so*
*generated.[ch]
Makefile
version.h
CMakeCache*
CMakeFiles/*
cmake_install.cmake
install_manifest.txt
cscope.*
ncscope.*
tcmu.conf_install.cmake
core.*
