[Unit]
Description=LIO Userspace-passthrough daemon

[Service]
Type=dbus
BusName=org.kernel.TCMUService1
KillMode=process
ExecStart=/usr/bin/tcmu-runner
Restart=on-failure
