[Unit]
Description=LIO Userspace-passthrough daemon
After=glusterd.service

[Service]
LimitNOFILE=1000000
Type=dbus
BusName=org.kernel.TCMUService1
KillMode=process
ExecStart=/usr/bin/tcmu-runner
