[Unit]
Description=LIO Userspace-passthrough daemon
Documentation=man:tcmu-runner(8)
Wants=rsyslog.service
After=network.target rsyslog.service

[Service]
LimitNOFILE=1000000
Type=dbus
BusName=org.kernel.TCMUService1
KillMode=process
ExecStart=/usr/bin/tcmu-runner

[Install]
WantedBy=multi-user.target
